@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Circular Std';
}

#root {
  height: 100%;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: gray;
  }

  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  ::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
  }
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-width: thin;
  }
}
